[submodule "Libraries"]
	path = Libraries
	url = git@github.com:pingdynasty/OpenWareLibraries.git
[submodule "Libraries/"]
	url = https://github.com/pingdynasty/OpenWareLibraries.git
	branch = develop
